.start_page {
  background: linear-gradient(#44daff, #339eff);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .logo {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p {
      margin-bottom: 0;
      font-size: 80px;
      font-weight: bold;
      color: #40ccff;
    }
  }
  .start_box {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;

    .start_text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .title {
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 5px;
        color: #39b3ff;
      }
      .text {
        font-size: 13px;
        color: #5c5c5c;
      }
    }
    .start_btn {
      margin-bottom: 10px;
      .btn {
        background-color: #37acff;
        color: white;
        font-size: 21px;
        font-weight: bold;
      }
    }
    .start_login_text {
      p {
        font-size: 15px;
        color: #5c5c5c;
        .span {
          color: #36aaff;
        }
      }
    }
  }
}
